* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: lightblue;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

h4 {
  font-size: 22px;
}

.question {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

input[type="number"] {
  height: 25px;
  border: none;
  margin-left: 10px;
}

button[type="submit"] {
  margin-right: 15px;
  width: 75px;
  background: red;
  color: white;
  cursor: pointer;
  border: none;
}

.lorems {
  width: 100%;
  max-width: 500px;
}

.lorems p {
  margin-bottom: 25px;
}
